@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  padding: 0;
  margin: 0;
}
body{
  font-family: "KoHo", sans-serif;
}
.logotitle{
  font-family: "KoHo", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #FF5722;

}
.nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.nav_pro{
  width: 90%;
  margin: 0 auto;
}
.hero{
  background: url('./assets/images/solar-panels-roof-solar-cell.jpg');
  height: 100vh;
  background-size: cover;
  width: 100%;
}
.bulbimg{
  width: 45vw;
}
.step_icon{
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3vw;
  row-gap: 4vh;
}
.items{
  margin: 0 auto;
  width: 15vw;
  height: 20vh;

}
.process .usecase{
  font-family: "KoHo", sans-serif;
}
.quoteBut:hover{
  transform: scale(1.1);
}
.loadcal{
  width: 100%;
  margin: 20vh auto;
  font-size: smaller;
}
.flexable{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
  column-gap: 4vh;
  row-gap: 4vw;
  align-items: center;
  padding: 0 1vw;
  border-radius: 6px;
  /* border: 0.1px solid #a19f9d; */
  margin-left: 2vw;
  margin-bottom: 2vh;
}
.flexable:nth-child(even){
  background-color: aliceblue;
}

.thebut>button{
  padding: 1vh 1vw;
  margin: 1vh 0;
}
.loadResult{
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1) ;
  padding: 1vh 2vw;
  border-radius: 6px;
  width: 40vw;
  height: 100vh;
  /* margin-right: 2vw; */
  position: fixed;
  top: 10vh;
  right: 1vw;
}
.loadCont{
  border-bottom: 0.5px solid #cdcdcd;
  text-align: center;
  margin-bottom: 2vh;
}
.BatteryCont{
  background-color: aliceblue;
  border-radius: 5px;
}
.herotwo{
  background-color: #E9F8FD;
  padding: 7vw;
}
.aboutcont{
  display: flex;
  gap: 8vw;
  align-items: center;
}
.sectionUp{
  height: 50vh;
  background-size: cover;
  width: 100%;
  align-items: center;
  /* padding-top: 20vh */
}

.sectionCont{
  display: flex;
  justify-content: space-between;
  color: white;
  width: 80%;
  margin: 5vh auto;
  text-align: center;
}
.bookInpect{
  width: 60%;
  margin: 0 auto;
}
.bookButt{
  width: 30%;
  margin: 0 auto;
}
.downloadButt{
  width:50%;
  margin: 3vh auto;
}
.downloadSec{
  margin: 3vw;
}
.productImg{ 
  width: 20vw;
}
.gridExpert{
  display: grid;
  grid-template-column: 1fr 1fr 1fr,
  
}
/* media query */

@media (max-width: 1263px ){
  .loadResult{
    position: relative;
  }
  .loadcal{
    justify-content: center;
  }

}
@media (max-width: 850px){
  .aboutcont{
    display: flex;
    flex-wrap: wrap;
    justify-content: center
  }
}
@media(max-width: 706px){
  .hero{
    display: none;
  }
  .process{
    margin-top: 15vh;
  }
  .nav_pro{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}